.header{
    width: 100%;
    max-width: 1773px;
    height: 100px;
    margin: 0 auto;

    &__wrapper{
    width: 100%;
    max-width: 1770px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    }

    &__title{
        padding-left: 30px;
    }

    &__span{
        font-size: 20px;
    }
}
.nav{
    width: 100%;
    max-width: 900px;

    &__list{
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
    }

    &__link>a{
        text-decoration: none; 
    }
    
}

