.phd{
    margin: 0 auto;
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__wrapper{
        width: 100%;
        max-width: 1400px;
        height: 400px;
    }
    &__text{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__images{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
    }
}
.phd__images img{
    width: 400px;
    height: 300px;
}
.phd__text p{
    width: 500px;
}